# coding: utf-8

"""
Cobo Agentic Wallet Service

The version of the OpenAPI document: 1.2.4
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""  # noqa: E501

from pydantic import validate_call, Field, StrictFloat, StrictStr
from typing import Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from cobo_agentic_wallet_api.models.standard_response_suggestion_response import (
    StandardResponseSuggestionResponse,
)
from cobo_agentic_wallet_api.models.suggestion_key import SuggestionKey

from cobo_agentic_wallet_api.api_client import ApiClient, RequestSerialized
from cobo_agentic_wallet_api.api_response import ApiResponse
from cobo_agentic_wallet_api.rest import RESTResponseType


class SuggestionsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client: ApiClient = None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_call
    def get_suggestion(
        self,
        key: SuggestionKey,
        x_api_key: Optional[StrictStr] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
    ) -> StandardResponseSuggestionResponse:
        """Get suggestion by key

        Retrieve the suggestion message for a given key. Checks the Redis hash `cli_suggestions` field `{key}` first; falls back to the built-in default if Redis is unavailable or the field is not set. Returns an empty string if the key has no built-in default. Returns HTTP 422 automatically for unrecognized keys (enforced by the `SuggestionKey` enum).

        :param key: (required)
        :type key: SuggestionKey
        :param x_api_key:
        :type x_api_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._get_suggestion_serialize(
            key=key,
            x_api_key=x_api_key,
        )

        _response_types_map: Dict[str, Optional[str]] = {
            "200": "StandardResponseSuggestionResponse",
            "422": "WrappedValidationError",
        }
        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data

    @validate_call
    def get_suggestion_with_http_info(
        self,
        key: SuggestionKey,
        x_api_key: Optional[StrictStr] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
    ) -> ApiResponse[StandardResponseSuggestionResponse]:
        """Get suggestion by key

        Retrieve the suggestion message for a given key. Checks the Redis hash `cli_suggestions` field `{key}` first; falls back to the built-in default if Redis is unavailable or the field is not set. Returns an empty string if the key has no built-in default. Returns HTTP 422 automatically for unrecognized keys (enforced by the `SuggestionKey` enum).

        :param key: (required)
        :type key: SuggestionKey
        :param x_api_key:
        :type x_api_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._get_suggestion_serialize(
            key=key,
            x_api_key=x_api_key,
        )

        _response_types_map: Dict[str, Optional[str]] = {
            "200": "StandardResponseSuggestionResponse",
            "422": "WrappedValidationError",
        }
        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )

    @validate_call
    def get_suggestion_without_preload_content(
        self,
        key: SuggestionKey,
        x_api_key: Optional[StrictStr] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
    ) -> RESTResponseType:
        """Get suggestion by key

        Retrieve the suggestion message for a given key. Checks the Redis hash `cli_suggestions` field `{key}` first; falls back to the built-in default if Redis is unavailable or the field is not set. Returns an empty string if the key has no built-in default. Returns HTTP 422 automatically for unrecognized keys (enforced by the `SuggestionKey` enum).

        :param key: (required)
        :type key: SuggestionKey
        :param x_api_key:
        :type x_api_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._get_suggestion_serialize(
            key=key,
            x_api_key=x_api_key,
        )

        _response_types_map: Dict[str, Optional[str]] = {
            "200": "StandardResponseSuggestionResponse",
            "422": "WrappedValidationError",
        }
        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        return response_data.response

    def _get_suggestion_serialize(
        self,
        key,
        x_api_key,
    ) -> RequestSerialized:
        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[str, Union[str, bytes]] = {}
        _body_params: Optional[bytes] = None

        # set the HTTP header `Accept`
        _header_params = {"Accept": "application/json", "Content-Type": "application/json"}

        # process the path parameters
        if key is not None:
            _path_params["key"] = key.value
        # process the query parameters
        # process the header parameters
        if x_api_key is not None:
            _header_params["X-API-Key"] = x_api_key
        # process the form parameters
        # process the body parameter

        return self.api_client.param_serialize(
            method="GET",
            resource_path="/api/v1/suggestions/{key}",
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
        )
